<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'main/style.css' %}" rel="stylesheet">
    <title>Dashboard</title>
</head>

<body>
    <div style="display: flex; flex-wrap: wrap;">
        <div style="padding: 10px; width: fit-content; border: 1px solid black;">
            <p>Create tariff</p>
            <form action="create_tariff" method="POST">
                {% csrf_token %}
                <table>
                    {{create_tariff_form}}
                </table>
                <input type="submit" value="Create">
            </form>
        </div>

        <div style="padding: 10px; width: fit-content; border: 1px solid black;">
            <p>Deactivate tariff</p>
            <form action="deactivate_tariff" method="POST">
                {% csrf_token %}
                <table>
                    {{deactivate_tariff_form}}
                </table>
                <input type="submit" value="Deactivate">
            </form>
            <input type="button" value="Deactivate">
        </div>

        <div style="padding: 10px; width: fit-content; border: 1px solid black;">
            <p>Create customer</p>
            <form action="create_customer" method="POST">
                {% csrf_token %}
                <table>
                    {{create_customer_form}}
                </table>
                <input type="submit" value="Create">
            </form>
        </div>

        <div style="padding: 10px; width: fit-content; border: 1px solid black;">
            <p>Create service</p>
            <form action="create_service" method="POST">
                {% csrf_token %}
                <table>
                    {{create_service_form}}
                </table>
                <input type="submit" value="Create">
            </form>
        </div>

        <div style="padding: 10px; width: fit-content; border: 1px solid black;">
            <p>Customer info</p>
            <select id="customers" onchange="onCustomerChange(this)">
            </select>
            <div id="customer_info" style="visibility: collapse">
                <p>Name: <span id="customer_name"></span></p>
                <p>Address: <span id="customer_address"></span></p>
                <p>Phone: <span id="customer_phone"></span></p>
                <p>Email: <span id="customer_email"></span></p>
                <p>Balance: <span id="customer_balance"></span> UAH</p>

                <div id="customer_services_info">
                    <select id="customer_services" onchange="onCustomerServiceChange(this)">
                    </select>

                    <p>Static IP: <span id="customer_service_static_ip"></span></p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'main/dashboard_worker.js' %}"></script>
</body>

</html>