<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/global.css' %}" />
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/dashboard_customer.css' %}">
    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        <div style="display: flex; flex-wrap: wrap;">
            <div class="comp info_panel comp_bg1">
                <p class="comp_title">{{customer.name}}</p>
                <div id="customer_info">
                    <table style="width: 100%;">
                        <col width="140">
                        <tr>
                            <td>Адреса:</td>
                            <td>{{customer.address}}</td>
                        </tr>
                        <tr>
                            <td>Телефон:</td>
                            <td>{{customer.phone}}</td>
                        </tr>
                        <tr>
                            <td>Iм'я користувача:</td>
                            <td>{{customer.user.username}}</td>
                        </tr>
                        <tr>
                            <td>Баланс:</td>
                            <td>{{customer.balance}} ГРН</td>
                        </tr>
                    </table>

                    {% if services|length > 0 %}
                    <div class="border" style="margin-top: 15px;">
                        <p style="padding-bottom: 7px; font-size: 1.1rem">Поповнити рахунок</p>

                        <form action="top_up_balance" method="POST">
                            {% csrf_token %}
                            <input type="number" name="amount" style="width: 100px" min="1" step=".01" required><span>
                                UAH</span>
                            <input type="submit" value='Поповнити' style="padding: 0; margin: 0">
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if services|length > 0 %}
            <div class="comp comp_bg2">
                <p style="padding-bottom: 5px; font-size: 1.2rem;">Мої сервiси</p>
                <select id="customer_services" onchange="onCustomerServiceChange()">
                    {% for service in services %}
                    <option value="{{service.id}}">{{service.address}}</option>
                    {% endfor %}
                </select>

                <table style="width: 100%;">
                    <col width="110">
                    <tr>
                        <td>Статичний IP:</td>
                        <td><span id="customer_service_static_ip"></span></td>
                    </tr>
                    <tr>
                        <td>Трафiк:</td>
                        <td><span id="customer_service_traffic"></span></td>
                    </tr>
                </table>

                <div class="border" style="margin-top: 5px">
                    <p style="padding-bottom: 3px; font-size: 1.1rem">Тариф</p>
                    <div id="tariff_info">
                        <table style="width: 100%;">
                            <col width="90">
                            <tr>
                                <td>Назва:</td>
                                <td><span id="customer_tariff_name"></span></td>
                            </tr>
                            <tr>
                                <td>Плата:</td>
                                <td><span id="customer_tariff_price"></span></td>
                            </tr>
                            <tr>
                                <td>Швидкiсть:</td>
                                <td><span id="customer_tariff_speed"></span></td>
                            </tr>
                            <tr>
                                <td>Лiмiт:</td>
                                <td><span id="customer_tariff_limit"></span></td>
                            </tr>
                            <tr>
                                <td>Опис:</td>
                                <td><span id="customer_tariff_desc"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="border" style="margin-top: 15px; overflow: auto">
                    <p style="padding-bottom: 7px; font-size: 1.1rem">Змiнити тариф</p>

                    <form action="switch_tariff" method="POST">
                        {% csrf_token %}

                        <input id="service_id" type="hidden" name="service_id">
                        <table style="width: 100%;">
                            <tbody>
                                {% for field in switch_tariff_form %}
                                <tr>
                                    <td><span style="margin-right: 10px;">{{field.label_tag}}</span></td>
                                    <td>{{field}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <input type="submit" value="Змiнити">
                    </form>
                </div>


                <div id="pay_for_tariff">
                    <form action="pay_for_tariff" method="POST" style="margin-top: 15px; overflow: auto">
                        {% csrf_token %}
                        <input id="service_id2" type="hidden" name="service_id">
                        <input type="submit" value="Пiдключити пакет послуг на мiсяць">
                    </form>
                </div>
            </div>
            {% endif %}

            <div class="comp pay_history comp_bg3">
                <p style="padding-bottom: 3px; font-size: 1.1rem">Iсторiя платежiв</p>
                <div style="display: block; max-height: 600px; overflow-y: auto">
                    <table id="payments_table" class="data_table" style="border-spacing: 0; border-collapse: collapse">
                        <thead>
                            <th align="left" width="100px">Час</th>
                            <th align="left" width="100px">Надходження/витрати</th>
                            <th align="left" width="100px">Баланс</th>
                            <th align="left" width="200px">Коментарiй</th>
                        </thead>
                    </table>
                </div>
            </div>

            <form action="logout">
                <input type="submit" value="Вийти" style="margin: 10px; padding: 2px 5px; height: fit-content">
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'main/dashboard_customer.js' %}"></script>
</body>

</html>